@CHARSET "UTF-8";

.parent{
	position:relative;
	width:1000px;
	margin:0 auto;
	padding:20px 5px 20px 5px;
	border:3px solid #333;
	border-right:0;
	border-left:0;
}
.child{
	position:relative;
	display:block;
	float:left;
	width:24%;
	height:120px;
	padding:1%;
	padding-bottom:3%;
	margin-right:3%;
	margin-left:3%;
	margin-bottom:4%;
	margin-top:4%;
	border:3px solid #333;
}
.wrap{
	width:100%;
	display:block;
	position:relative;
	height:100%;
}
.childhead{
	position:relative;
	background:white;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	left:5px;
	top:-20px;
}
.childcont{
	width:100%;
	height:100%;
	position:relative;
	top:-20px;
}

.clear{
	clear:both;
}


/* BASIC STYLES
======================================== */
html, body {
	height: 100%;	
}
body {
	font: 12px/16px Arial, Helvetica, sans-serif;
	color: black;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	background-image: url('/imgs/sys/background.jpg');
	margin: 0px;
	padding: 0px;
}
input, textarea {
	border: 1px solid #003846;
	bored-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 2px;
}
select {
	width: 150px;
}
input[type="reset"] {
	width: 50px;
}
input[type="radio"], input[type="checkbox"] {
    border: none !important;
    background: none !important;
}
/* .tooltip-north {
	display: none;
	background-color: 	#58595B;
}*/

/* LION SCROLL BARS */
.lb-content {
	padding-right: 10px;
}


 *//* COLOUR GUIDE
========================================
ESR dark blue: #003846
ESR blue: #1A74A8
ESR light blue: #27AAE1
ESR dark grey: #58595B
ESR medium grey: #808285
ESR light grey: #D1D3D4
ESR orange: #FC5427

ESR green: #55a51b
red: #ee2324

*/

/* COLOURS/FONT STYLE 
=========================================*/

/* BLUE, NO UNDERLINE */
.contentStats a:hover, a:hover .commentsNum, a:hover .score, .headerlink-title, .search-term span,
.group-name a, #starscap_rating, /*.latest-text,*/ .message .username a, .mapwrapper .controls button { 
	color: #1A74A8; text-decoration: none; 
}

/* HOVER BLUE, UNDERLINE */
a:hover .contentActionText, a:hover span.lifestyleText, .edit a:hover, 
.reply a:hover, a:hover.statusLocation, a:hover.shortenLinks, #headerLinks a:hover, 
.cancel-post a:hover, .profileTag a:hover, .replyStory a:hover, .reply-message a:hover,
.contentMedia a:hover .contentActionText, #deleteDialog input:hover.cancel-dialog.delete { 
	color: #1A74A8; 
}

/* DARK BLUE, NO UNDERLINE  */
a span.lifestyleText, /*.news-text,*/ .content-details, .directions span {
	color: #003846; text-decoration: none; 
}
/* DARK BLUE, UNDERLINE  */
.follow-user .username a:hover, .group-name a:hover, .more a:hover, .message .username a:hover,
.mapwrapper .controls button:hover, .controls button:hover#addAddressPoint  {
	color: #003846; text-decoration: underline; 
}
/* DARK GREY */
.score, .commentsNum, .views , .contentActionText, a.statusLocation, a.shortenLinks, 
.rightCommentsNum a .commentsNum, .rightCommentsNum a:hover .commentsNum, #headerLinks a, 
.cancel-post a, .cancel-post, .search-term, .edit-profile-label, .message .subject, 
.signup #headerLinks .headerLinks-sub-nav .sub-item a, td.cancel .ui-button-text span, 
#deleteDialog .cancel-dialog.delete  { 
	color: #595A5C; 
}
/* MEDIUM GREY */
.search-term, .reply-message a, .content-details-label {
	color: #808285;
}
/* LIGHT GREY */
.edit a, .reply a, .label, a.login-text, a.signup-text {
	color: #D1D3D4;	
}
/* ORANGE */
.ctFilter li a, ul.myStats li a:hover.myStatsCount, ul.userStats li a:hover.myStatsCount, 
.follow-user .username a, .replyStory a, .address.button, .signup #headerLinks .top-item a:hover,
.controls button#addAddressPoint  {
	text-decoration: none;
	color: #FC5427;
}
/* ORANGE, UNDERLINE */
.myUsername a:hover, .username a:hover, 
ul.myStats li a:hover span.myStatsText, ul.userStats li a:hover span.myStatsText {
	color: #FC5427;
	text-decoration: underline;
}
/* WHITE */
.userInfo, .profileTag, .myUsername a, .username a, h5.aboutMe, a:hover.login-text, 
#createAccount .edit-profile-label, a:hover.signup-text, #forgotPassword .button span,
.login-input h3.title, .signup #headerLinks .top-item a, #scroll-top span {
	color: white;
}

/* BOLD FONT - ARIAL ONLY */
.score, .commentsNum, .author, .myUsername, .username, .group-name, a.signup-text, .content-details { 
	font-weight: bold; 
} 
 
/* TYPOGRAPHY
=========================================*/
@font-face {
	font-family: UniversUltraCondensed;
	src: url('../fonts/universltstd-ultracn-webfont.eot');
	src: url('../fonts/universltstd-ultracn-webfont.ttf')  format('truetype'),
		 url('../fonts/universltstd-ultracn-webfont.svg#UniversUltraCondensed') format('svg'),
		 url('../fonts/universltstd-ultracn-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/universltstd-ultracn-webfont.woff') format('woff'); 
	    
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal; 
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #1A74A8; text-decoration: none;	}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #003846; text-decoration: underline; }

h1 { font-size: 18px; line-height: 23px; } /*CTA, search, signup intro*/ 
h2 { font-size: 15px; line-height: 17px; font-weight: bold; } /*username*/
h3 { font-size: 21px; line-height: 18px; } /*title */ 
h4 { font-size: 13px; line-height: 15px; } /*tabs*/
h5 { font-size: 12px; } /*body text*/ 
h6 { font-size: 11px; } /*meta info*/

p { font-size: 1em; line-height: 1.5em; display: inline; }

.contentBody p { margin-bottom: 12px; display: block;}
strong { font-weight: bold; }

.button, .views, .contentActionText, .lifestyleText, .statusLocation, .shortenLinks, 
.edit a, .reply a, .more, .ctFilter li, .headerlink-title, .sub-head, #headerLinks, .login-text, .create .banner, 
.cancel-post, .replyStory a, .ui-datepicker .ui-datepicker-title, .ui-datepicker th,
.ui_tpicker_time_label, #starscap_rating, .latest-news, .edit-profile-label, .reply-message a, 
.content-details-label, #scroll-top span, td.size, #deleteDialog .cancel-dialog.delete {
	font-family:  UniversUltraCondensed, Impact, Charcoal, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}
.title, .title a, span.mediaTitleText, .myStatsText, .create-menu-text, .search-term, 
#welcome, .statusField {
	font-family: UniversUltraCondensed, Impact, Charcoal, sans-serif;
}
.username, .group-name { font-size: 15px; }

/* #LINKS
========================================= */
a { color: #1A74A8; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; cursor: pointer; }
a img { text-decoration: none; cursor: pointer;}

a.external {
    background: transparent url(/imgs/sys/external-anchor.png) center right no-repeat;
    padding-right: 20px;
}
/* SPRITE IMAGES
========================================= */
.sprite { background: url('../imgs/sys/sprite-system-images.png'); }
a.sprite:hover, button { cursor: pointer; }
					 
	/* Element Accents */
	.black-tri { width: 10px; height: 5px; background-position: -52px -5px; }
	.create-pointer { width: 20px; height: 20px; background-position: 0 0; }
	.create-item-wedge-first { width: 10px; height: 10px; background-position: -25px -5px; }
	.create-item-wedge { width: 10px; height: 10px; background-position: -38px -5px; }
	.tab-wedge { width: 6px; height: 6px; background-position: -65px -5px; }
	.tab-wedge-last { width: 6px; height: 6px; background-position: -73px -5px; }
	
	/* ICONS */
	.icon {
		float: left;
		margin-right: 5px;
		z-index: 5;
		vertical-align: middle;
	}
	/* CONTENT TYPE TITLE ICONS */
	.icon-BlogPost, .icon-blogpost { width: 17px; height: 20px; background-position: 0 -30px; }
	.icon-QuickImage, .icon-Image { width: 19px; height: 20px; background-position: -18px -30px; }
	.icon-Video { width: 22px; height: 20px; background-position: -38px -30px; }
	.icon-Bike { width: 12px; height: 20px; background-position: -66px -30px; }
	.icon-Route { width: 18px; height: 20px; background-position: -82px -30px; }
	.icon-Event { width: 14px; height: 20px; background-position: -103px -30px; }	
	.icon-Classified { width: 18px; height: 20px; background-position: -120px -30px; }
	.icon-HowTo { width: 16px; height: 20px; background-position: -140px -30px; }
	.icon-Review { width: 17px; height: 20px; background-position: -160px -30px; }
	.icon-Group { width: 23px; height: 20px; background-position: -180px -30px; }
	.icon-Message { width: 19px; height: 19px; background-position: -206px -30px; }
	.icon-Status { width: 19px; height: 20px; background-position: -228px -30px; }
    .icon-StatusUpdate { width: 19px; height: 20px; background-position: -228px -30px; }
    .icon-News { width: 18px; height: 20px; background-position: -270px -30px; }
	.icon-POI {width: 12px; height: 20px; background-position: -252px -30px; }
	.icon-add { width: 16px; height: 15px; background-position: -75px -164px; }

	/* CREATE EDITOR content type LARGE icons */
	.banner .icon-BlogPost, .banner .icon-blogpost { width: 28px; height: 26px; background-position: 0 -98px; }
	.banner .icon-QuickImage, .icon-Image { width: 27px; height: 26px; background-position: -34px -98px; }
	.banner .icon-Video { width: 44px; height: 26px; background-position: -65px -98px; }
	
	.banner .icon-Bike { width: 21px; height: 30px; background-position: 0 -135px; }
	.banner .icon-Route { width: 32px; height: 28px; background-position: -27px -135px; }
	.banner .icon-Event { width: 24px; height: 28px; background-position: -65px -135px; }
	
	.banner .icon-Classified { width: 31px; height: 26px; background-position: 0 -172px; }
	.banner .icon-HowTo { width: 27px; height: 26px; background-position: -36px -172px; }
	.banner .icon-Review { width: 29px; height: 26px; background-position: -70px -172px; }

	.banner .icon-Group { width: 35px; height: 26px; background-position: 0 -209px; }
	.banner .icon-Message { width: 32px; height: 26px; background-position: -43px -209px; }
	.banner .icon-POI { width: 21px; height: 26px; background-position: -81px -209px; }

	/* WYSIWYG ICONS */
	.icon-image { width: 19px; height: 20px; background-position: -18px -76px; }
	.icon-video { width: 22px; height: 20px; background-position: -38px -76px; }
	.icon-place { width: 16px; height: 16px; background-position: -247px -99px; }
		a:hover .icon-place { background-position: -247px -141px; }
	
	/* ICONS WHITE */
	.icon-story-white { width: 17px; height: 20px; background-position: 0 -54px; }
	.icon-image-white { width: 19px; height: 20px; background-position: -18px -54px; }
	.icon-video-white { width: 23px; height: 20px; background-position: -38px -54px; }
	.icon-bike-white { width: 12px; height: 20px; background-position: -66px -54px; }
	.icon-route-white { width: 18px; height: 20px; background-position: -82px -54px; }
	.icon-event-white { width: 14px; height: 20px; background-position: -103px -54px; }	
	.icon-shop-white { width: 18px; height: 20px; background-position: -120px -54px; }
	.icon-howTo-white { width: 16px; height: 20px; background-position: -140px -54px; }
	.icon-review-white { width: 17px; height: 20px; background-position: -160px -54px; }
	.icon-group-white { width: 23px; height: 20px; background-position: -180px -54px; }
	.icon-message-white { width: 19px; height: 20px; background-position: -206px -54px; }
	.icon-status-white { width: 19px; height: 20px; background-position: -228px -54px; }
	.icon-news-white { width: 18px; height: 20px; background-position: -270px -54px; }
	.icon-poi-white { width: 12px; height: 20px; background-position: -252px -54px; }
	
	.icon-add-white { width: 16px; height: 15px; background-position: -75px -186px; }
	
	/* ACTION icons */
	.icon-myGarage { width: 25px; height: 19px; background-position: -141px -99px; }
		a:hover .icon-myGarage { background-position: -141px -141px; }
	.icon-reuse { width: 20px; height: 18px; background-position: -169px -99px; }
		a:hover .icon-reuse { background-position: -169px -141px; }
	.icon-star { width: 20px; height: 16px; background-position: -189px -99px; } 
		a:hover .icon-star { background-position: -189px -141px; } 
	.icon-comment { width: 20px; height: 20px; background-position: -210px -99px; } 
	    a:hover .icon-comment { background-position: -207px -141px; }
	.icon-share { width: 20px; height: 19px; background-position: -267px -99px; }
		a:hover .icon-share { background-position: -267px -141px; }
	.icon-flag { width: 16px; height: 16px; background-position: 0 -260px; }
	.icon-delete { width: 17px; height: 17px; background-position: -108px -255px; float: right;}
		a:hover .icon-delete { background-position: -108px -271px; }
	.icon-search { width: 14px; height: 14px; background-position: -90px -256px }
		button:focus .icon-search { background-position: -90px -272px; }
	
	/* SOCIAL MEDIA */
	.icon-twitter { width: 20px; height: 20px; background-position: -43px -256px; }
	.icon-youtube { width: 20px; height: 20px; background-position: -65px -256px; }
	.icon-facebook { width: 20px; height: 20px; background-position: -21px -256px; }
	
	a:hover .icon-twitter { width: 20px; height: 20px; background-position: -43px -277px; }
	a:hover .icon-youtube { width: 20px; height: 20px; background-position: -65px -277px; }
	a:hover .icon-facebook { width: 20px; height: 20px; background-position: -21px -277px; }
	
/* BUTTONS
======================================== */
a.button, button.button {
	/*Sliding right image*/
	background: transparent url('../imgs/sys/sprite-system-images.png') no-repeat scroll;
	background-position: right -342px  /* -407px */; 
	display: block;
	height: 20px;
	margin-top: 4px;
	padding-right: 15px;
	text-decoration: none;
	color: /* #003846 */ white;
	float: left;
}
a.button span, button.button span {
	background: transparent url('../imgs/sys/sprite-system-images.png') no-repeat;
	background-position: 0 -300px /* -386px */;
	display: block;
	line-height: 18px;
	padding: 0 0 2px 15px;
	color: white;
}
a:hover.button, a:hover.button.post, a:hover.button.unfollow,  
a:hover.button.button-OK, button:hover#confirmDelete.button  { 
	background-position: right -363px; color: white;
}
a:hover.button span, a:hover.button.post span, a:hover.button.unfollow span, 
a:hover.button.button-OK span, button:hover#confirmDelete.button span { 
	background-position: 0 -321px; 
}

.button.follow, .button.unfollow { font-size: 12px; margin-left: -4px; }
a.button.follow { padding-right: 13px; }
a.button.follow span { padding-left: 13px; }

a.button.unfollow { background-position: right -405px; }
a.button.unfollow span { background-position: 0 -384px; }
a.button.unfollow { padding-right: 10px; }
a.button.unfollow span { padding-left: 10px; }

.button.post { font-size: 19px; line-height: 19px; }
a.button.post, button.button.post { background-position: right -586px; padding-right: 18px; }
a.button.post span, button.button.post span { background-position: 0 -564px; padding-left: 18px; }

a.button.button-OK, .button.button-OK, button#confirmDelete.button { background-position: right -586px; }
a.button.button-OK span, a.button.button-OK span, button#confirmDelete.button span { background-position: 0 -564px; } 

a.button.inviteFriends, a:hover.button.inviteFriends {
	background: url('/imgs/sys/button-invite-friends.png') no-repeat;
	width: 120px;
	height: 64px;
	margin-top: 0px;	
}
a.button.inviteFriends { background-position: 0 0; }
a:hover.button.inviteFriends { background-position: 0 -66px; }

#scroll-top {
	display: none;
	position: fixed;
	bottom: -5px;
	right: 130px;
	z-index: 999999;
}
a#scroll-top.sprite { background-position: 0 -497px; width: 104px; height: 31px; }
a:hover#scroll-top.sprite { background-position: 0 -530px; text-decoration: none; }
a#scroll-top span {
	display: block;
	padding: 7px 0 0 30px;
	text-decoration: none;
}
/*	CSS HACKS
==========================================*/
 /* .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    }
To keep floating children within a parent container
 */
* html .clearfix             { zoom: 1; }  /*IE6*/ 
*:first-child+html .clearfix { zoom: 1; }  /*IE7*/ 

/*	GRID SCALING ADJUSTMENTS
==========================================*/
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Tabs (activate in tabs.js)
===========================================================*/
	ul.tabs {
		display: block;
		margin: 0 0 10px 0;
		padding: 0;
	}
	ul.tabs li {
		display: block;
		position: relative;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0; 
	}
	ul.tabs li a {
		/* Sliding right image */
		background: transparent url('../imgs/sys/sprite-system-images.png') no-repeat scroll;
		background-position: right -496px;
		display: block;
		text-decoration: none;
		height: 30px;
		padding: 1px 12px 0 0;
		line-height: 29px;
		margin: 0;
		font-size: 18px;
		font-family: UniversUltraCondensed, Impact, Charcoal, sans-serif; 
		color: white; 
		opacity: 0.6;
		filter: alpha(opactiy=60);
	}
	ul.tabs li a:hover {
		background-position: right -528px;
		text-decoration: none;
		opacity: 1;
		fitler: alpha(opacity=100); 
	}
	ul.tabs li a.active {
		background-position: right -496px;
		display: block;
		position: relative;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	ul.tabs li a span{
		background: transparent url('../imgs/sys/sprite-system-images.png') no-repeat scroll;
		background-position: 0 -433px;
		height: 30px;
		padding: 5px 5px 5px 20px;
	}
	ul.tabs li a:hover span {
		background-position: 0 -464px;
		opacity: 1;
		fitler: alpha(opacity=100); 
		height: 30px;
	}
	ul.tabs li a.active span {
		backgroud: transparent url('../imgs/sys/sprite-system-images.png') no-repeat scroll;
		background-position: 0 -433px;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	ul.tabs li .location-dropDown a /* white triangle */ {
		background: url('../imgs/sys/sprite-system-images.png') -52px -12px;
		display: inline;
		width: 10px;
		height: 5px;
		float: right;
		position: relative;
		top: -18px;
		left: -5px;
		border: 0;
		padding: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	ul.tabs li .location-dropDown a:hover /* blue triangle */{
		background: url('../imgs/sys/sprite-system-images.png') -52px -18px;
		width: 10px;
		height: 5px;
	}
	.rightColumn ul.tabs li a {
		padding: 1px 10px 0 0;
		line-height: 27px;
		font-size: 15px;
	}
	.rightColumn ul.tabs li a span{
		padding: 6px 5px 7px 22px;
	}
	ul.tabs-content { margin: 0; display: block; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }


/*	CONTAINER
===========================================================*/
	#container {
	position: relative;
	width: 960px;
	height: auto;
	margin: 0 auto;
	padding: 0 30px 20px;
	background: white;
	min-height: 100%;
}

/*	HEADER
===========================================================*/
#headerWrapper {
	/* max-width: 960px; */
	height: 90px;
	padding-top: 10px;
}
#logo {
	float: left;
	width: 190px;
	height: 70px;
	margin-right: 5px;
}
#header-branding {
	background: url('../imgs/sys/header-branding.gif') no-repeat;
	float: left;
	width: 520px;
	height: 90px;
	margin-left: -30px;
	margin-top: -10px;
}
ul#headerLinks {
	position: relative;
	z-index: 10;
	float: right;
	margin-top: 0px;
	height: 20px;
}
ul#headerLinks li.top-item {
	float: left;
	display: inline;
	padding: 0 3px;
	line-height: 10px;
	text-align: right;
	border-right: 1px solid #bcbcbc;
} 
ul#headerLinks  li.top-item:last-child {
	border-right: 0px;
}
ul#headerLinks li ul.headerLinks-sub-nav {
	display: none;
}
ul#headerLinks li:hover ul.headerLinks-sub-nav {
	display: block;
	position: relative;
	z-index: 100;
	background: white;
	text-align: right;
	border-top: 0;
	padding: 0;
	margin-right: -4px;
}
li.sub-item {
	color: white;
}
li.sub-item a {
	display: block;
	padding: 6px;
	text-decoration: none;
}
ul#headerLinks li ul.headerLinks-sub-nav li.sub-item a:hover {
	color: white;
	background-color: #1A74A8;
}
li.sub-item:hover {
	text-decoration: none;
	color: white;
}
li.sub-item:first-child {
	margin-top: 4px;
}
/* li.sub-item:last-child {
	padding-bottom: 5px;
} */
.connectLinks {
	position: relative;
	z-index: 1;
	display: inline;
	float: right;
	margin-top: 35px;
	clear: right;
}
.connectLinks img {
	margin: 0 2px;
}
.welcome {
	display: block;
	float: right;
	margin-top: 5px;
	color: #1a74a8;
	font-weight: bold;
}
.about-us {
	width: 500px;
	margin-left: 80px;
}
.headerlink-title {
	font-size: 30px;
	margin-bottom: 15px;
	line-height: 25px;
}
.about-us h5, .about-us p { margin-bottom: 10px; }
.sub-head { margin-top: 15px; font-size: 18px; }

/*	MY PROFILE
===========================================================*/
#myProfileWrapper {
	height: 65px;
	margin: 10px 0 0 -30px;
	background: url('/imgs/sys/profile-background.png') no-repeat;
	background-position: 0 0; 
	padding: 0 30px;
}
#myProfileWrapper.profile-create {
	height: 193px;
	background: url('/imgs/sys/profile-background.png') no-repeat;
	background-position: 0 -150px;
	margin: 10px 0 -45px -30px;
	padding: 0 30px;
}
#myProfileWrapper .columns.omega, #userProfileWrapper .columns.omega {
	margin-left: 0;
}
.myProfile {
	position: relative; 
	left: -11px;
	float: left;
	margin-right: 5px;
}
#myAvatar, .avatar {
	float: left;
	margin: 0 5px 0 0;
}
.userInfo, .userInfo a {
	position: relative;	
	z-index: 2;
	/* height: 64px;
	margin: 0 5px 0 100px; */
}
.myUsername{
	display: table;
	float: left;
	position: absolute;
	top: -2px;
	height: 50px;
	font-size: 15px;
}
.myUsername a {
	display: table-cell;
	vertical-align: middle;
}
#myInfo, #userInfo {
	float: left;
	height: 65px;
}
/* USER PROFILE
===========================================================*/
#userProfileWrapper {
	height: 193px;
	background: url('/imgs/sys/profile-background.png') no-repeat;
	background-position: 0 -150px;
	margin: 10px 0 -45px -30px;
	padding: 0 30px;
}
img.userAvatar {
	display: block;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.user-avatar-container { 
	display: inline;
	position: relative;
	left: -20px;
	float: left;
}
#userAvatar {
	display: inline-block;
	width: 170px;
	height: 112px;
	overflow: hidden;
	margin-top: 8px;
}
#userAvatar .userAvatar {
	z-index: 1;
	position: relative;
	width: 162px;
	height: auto;
}
#myAvatar {
	display: inline-block;
	width: 90px;
	height: 60px;
	overflow: hidden;
}
#myAvatar .userAvatar {
	z-index: 0; /*1;*/
	position: relative;
	width: 87px;
	height: auto;
}
.avatar-mask {
	background: url('/imgs/sys/avatar-mask.png') no-repeat;
	z-index: 0; /*2;*/
	position: absolute;
	top: 0;
	display: block;
	width: 96px;
	height: 65px;
}
.avatar-mask-lg {
	background: url('/imgs/sys/avatar-mask-lg.png') no-repeat;
	z-index: 2;
	position: absolute;
	top: 8px;
	display: block;
	width: 170px;
	height: 112px;
}
.userProfile {
	float: left;
	position: relative;
	left: -11px; 
	width: 95px;
	height: 130px;
	margin: 10px 0 0 0;
	border-bottom: 0;
}
.username {
	display: block;
	padding-bottom: 5px;
	word-wrap: break-word;
}
.userInfo span {
	display: block;
	margin-bottom: 5px;
	font-weight: lighter;
}
.userProfile h4 {
	display: block;
}
.profileTag {}
.label {
	display: none;
}
.userInfo span.realname {
	font-weight: bold;
	font-size: 14px;
}
.riding.label {
	display: block;
	margin-bottom: 0;
}

/* sets max-width for IE */
* html h5.aboutMe { 
   width: expression( document.body.clientWidth > 94 ? "95px" : "auto" ); 
}
h5.aboutMe {
	margin: 10px 6px 0 0;
	overflow: auto;
	clear: both;
	max-height: 95px;
}
#userProfileWrapper a.button.inviteFriends {
	margin-left: 22px;
}
#userProfileWrapper a.button.follow, #userProfileWrapper a.button.unfollow, #userProfileWrapper a.button.edit-profile  {
	margin-top: 20px;
}

/*	Profile Stats
===========================================================*/
ul.myStats, ul.userStats {
	float: left;
	display: inline-block;
	height: 40px;
	margin-top: 14px;
}
ul.myStats li, ul.userStats li {
	float: left;
	display: inline-block;
	/*overflow: hidden;*/
	border-right: 1px solid #DBDBDB;
	padding: 0 15px;
}
ul.myStats li a, ul.userStats li a{
}
ul.myStats li:last-child, ul.userStats li:last-child {
	border-right: 0px;
	padding: 0 17px;
}
.myStatsCount, .userStats {
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #D1D3D4
}
.myStatsText {
	display: block;
	font-size: 18px;
	font-weight: normal;
	color: #D1D3D4;
	margin-bottom: 5px;
}

/* User Profile Stats 
==============================*/
#userInfo {
	height: 120px;
	padding: 0;
	margin: 10px -2px 10px 6px;
	border-right: 1px dotted #D1D3D4;
}
#userInfo .userStats {
	margin-top: 10px;
}
#userInfo ul li {
	border: none;
	margin-bottom: 14px;
	padding: 0px;
}
#userInfo ul li:first-child {
	padding: 0 20px 0 9px; 
}
#userInfo ul li:last-child {
	padding-left: 20px;
}

/* EDIT PROFILE 
==============================================*/
.edit-profile-wrapper {
	display: block;
	margin: 10px 0 0 130px;
}
.edit-profile-wrapper .contentRow {
	position: relative;
	margin-bottom: 10px;
}
.edit-profile-label {
	float: left;
	width: 100px;
	margin: 5px 8px 0 0;
	text-align: right; 
}
.edit-profile-wrapper select {
	margin-top: 5px;
}
.edit-profile-field {
	width: 200px;
	min-width: 200px;
}
.edit-profile-field .about {
	height: 100px;
}
.contentRow.avatar-chooser {
	margin: 15px 0 5px 107px;
}
.avatar-chooser .avatar {
	margin-top: 5px;
}
.avatar-chooser img.userAvatar {
	width: 70px;
	height: 70px;
	margin-left: 5px;
}
.avatar-chooser .edit-profile-label {
	float: none;
	font-size: 15px;
}
.current-avatar .more {
	position: relative;
	top: 22px;
}
.edit-profile-wrapper .create-action {
	width: 300px;
	margin-top: 50px;
}

/*	Invite Friends/Search
===========================================================*/
/*Placeholder for Search field and button*/
#searchWrapper {
	display: block;
	height: 50px;
	overflow: hidden;
	clear: both;
	margin-bottom: 5px;
}
#searchWrapper .searchBar form {
	
}
.searchBar {
	position: absolute; /* IE7 fix */
	top: 0px; /* IE7 fix */
	width: 234px; /* IE7 fix */
	height: 27px;
	padding: 18px 0 0 30px;
}
.searchBar td {
	width: 100%;
}
.searchText {
	float: left;
	width: 100%;
	height: 20px;
	padding: 2px 0 2px 4px;
	resize: none;
	font-size: 12px;
	border: 1px solid #BCBCBC;
}
.searchBar button {
	float: left;
	background-color: white;
	width: 25px;
	height: 26px;
	margin: 0 0 0 -1px;
	padding: 0 0 0 5px;
	border: 1px solid #BCBCBC;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.searchBar button i {
	display: block;
}
.search-term {
	font-size: 25px;
	margin: 30px 0 -14px;
	border-bottom: 1px solid #003846;
	padding-bottom: 5px;
}

/* LOGIN NAVIGATION */

#login{
	float: left;
	height: 50px;
	width: 100%;
	margin-top: 2px;
}
.login-form { color: white; }	
#login label {
	display:inline;
	padding-right: 20px;
}
.login-input input#username, .login-input input#pswd {
	width: 45%;
	background-color: #DBEBF4;
}
.login-input input#username:focus, .login-input input#pswd:focus { 
	background-color: white;	
}
.login-text { /* Remember Me */
	color: white;
	margin: 5px 14px 0 0;
	float: left;
}
button[type="submit"] {
	float: right;
}
input.remember-me {
	float: left;
	width: 22px;
	margin: 6px 0px 0px 2px;
	padding: 0px;
	border: 0px;
}
.login-input button {
	top: 0px;
	position: relative;
	float: right;
	margin-right: 20px;
}
#forgotPassword .create-action {
	width: 260px;
}
#forgotPassword .button span {
	margin-left: 35px;
	font-size: 18px;
}
#forgotPassword p {
	line-height: 1.2em;
}
#forgotPasswordEmail {
	margin-top: 5px;
	margin-bottom: 5px;
}
#welcome {
	margin-top: 10px;
	padding-right: 2px;
}
#welcome p { 
	font-size: 19px;
	line-height: 21px;
	color: white;
}
.errors {
	margin: -3px 0 -5px;
}
div.login-input ul.errors {
	top: -12px;
	left: 342px;
	font-size: 10px;
	color: #FC5427;
	position: absolute;
}

/*	EDITORIAL
===========================================================*/
#editorialWrapper {
	display: block;
	height: 115px;
	margin-top: 3px;
}

/*	Create Menu
=======================================*/
#create {
/* 	position: relative; */
	margin-top: 5px;
}
#createMenu ul {
	list-style-type: none;
}
a img#createButton { 
	z-index: 1000; 
	position: relative;
}
#createMenu ul li ul {
	z-index: 100;
	position: relative;
	display: none;
	top: 55px;
	left: -30px;
	height: 62px;
	background-color: #002A34; /* IE */
	background-color: rgba(0, 42, 52, 0.92);
	filter: alpha(opacity = 92); /* IE */
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	padding-left: 135px;
}
#createMenu ul li:hover ul {
	display: block;
	position: absolute;
}
.create-menu-item {
	float: left;
	z-index: 10000;
	height: 42px;
	padding: 10px 11px ;
}
a .create-menu-text {
	display: block;
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 21px;
}
li.first.create-menu-item {
	padding-left: 13px;
	padding-right: 13px;
}
li.last.create-menu-item {
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	padding-right: 14px;
}
li.create-menu-item:hover {
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a74a8), to(#1a648f)); /* Safari 4-5, Chrome 1-9 */
 	background: -webkit-linear-gradient(top, #1a74a8, #1a648f); /* Safari 5.1, Chrome 10+ */
 	background: -moz-linear-gradient(top, #1a74a8, #1a648f); /* Firefox 3.6 */
  	background: -ms-linear-gradient(top, #1a74a8, #1a648f); /* IE 10 */
  	background: -o-linear-gradient(top, #1a74a8, #1a648f); /* Opera 11.10+ */
	text-decoration: none;
	padding-bottom: 18px;
}
li.create-menu-item a:hover { text-decoration: none; }
li.first:hover .create-item-wedge-first{
	position: absolute;
	top: 27px;
	left: 34px;
	display: block;
	z-index: -1;
}
li.first.create-menu-item:hover .create-item-wedge-first{
	margin-left: 2px;
}
li.create-menu-item:hover .create-item-wedge {
	position: absolute;
	top: 27px;
	left: -19px;
	display: block;
	z-index: -1;
}
.create-menu-icon {
	display: block;
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	padding-bottom: 4px;
}
/*	Editorial Slider
==============================*/
#editorialSlider {
	float: left;
	height: 115px;
	overflow: hidden;
} /*Placeholder for image style slider*/
.editorialSlides {
	position: relative;
	float: left;
	display: block;
	width: 200px;
	height: 115px;
	margin: 0 3px;
}
#editorialSlider.jThumbnailScroller .jTscrollerContainer {
	left: 26px;
}
#editorialSlider.jThumbnailScroller .jTscroller {
	background-color: white;
}
#editorialSlider.jThumbnailScroller .jTscroller a {
	width: 100%;
	height: auto;
	margin: 0px;
}
.editorialSlides a:hover {
	color: white; 
}
.editorialSlideThumb {
	position: relative;
	top: 0;
	left: 0;
	opacity: .8;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	width: 100%;
	height: auto;
}
a:hover img.editorialSlideThumb {
	opacity: 1;
}
-moz-focus-inner {
	padding-top: 2px;
}
.slideCaption, .mediaTitle {
	position: absolute;
	bottom: 0;
	right: 0%;
	left: 0%;
	display: block;
	z-index: 3;
	padding: 5px 4px 7px;
	overflow: hidden;
	background-color: black; /* IE */
	background-color: rgba(0, 0, 0, 0.7);
	filter: alpha(opacity = 70); /* IE */
	max-height: 30%;
}

a:hover span.slideCaption {
	background-color: black;
	background-color: rgba(0, 0, 0, 1);
	filter: alpha(opacity = 100);
}
span.slideCaptionText {
	display: block;
	color: white;
	font-size: 12px;
	line-height: 14px;
}
.latest-news-wrapper {
	display: block;
	position: relative;
	float: left;
	width: 20px;
	height: 114px;
	padding-left: 3px;
}
.latest-news {
	bottom: 0px;
	height: 114px;
	width: 22px;
	background-image: url('/imgs/sys/latestnews.png');
	background-repeat: no-repeat;
}

/*	MAIN
===========================================================*/
#mainWrapper {
	display: block;
	min-height: 700px;
	height: auto;
	_height: 700px; /* IE min-height fix */
	margin-top: 5px;
}
#mainWrapper .contentRow {
	margin-top: 2px;
}
/*Main Content 
===========================================================*/
#mainContent {
	float: left;
	margin-top: 20px;
	word-wrap: break-word;
	word-break: break-all; /* IE only */
}
#loadMoreWrapper {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}
.loadMoreContent {
	width: 167px;
	margin: 0 auto;
}
h2 a:hover.loadMore {
	color: white;
}

/*
.buttonText {
	visibility: visible;
	color: white;
}
*/
/*Content Feed Navigation
===========================================================*/
#contentNav, #userContentNav {
	margin-bottom: 2px;
}
ul.ctFilter {
	display: block;
	height: 30px;
	padding: 0;
}
ul.ctFilter li {
	display: block;
	width: auto;
	padding: 0;
	float: left;
	margin-bottom: 0; 
	border-bottom: solid 1px #bcbcbc;	
}
ul.ctFilter li a {
	display: block;
	width: auto;
	padding: 0px 9px;
	line-height: 20px;	
	border-right: solid 1px #bcbcbc;
	margin: 0 0 0 -1px;
	font-size: 13px; 
}
ul.ctFilter li:last-child a {
	border-right: 0px;
}
ul.ctFilter li a.active span.create-item-wedge-first {
	display: block;
	position: relative;
	top: 1px;
	left: 23px;
}
ul.ctFilter li a:hover span.create-item-wedge, ul.ctFilter li a:hover span.create-item-wedge-first {
	display: none;
}
 ul.ctFilter li a.active span.create-item-wedge {
 	display: block;
	position: relative;
	top: 1px;
	left: -19px;
}
ul.ctFilter li a.active, ul.ctFilter li a:hover {
	color: white;
	text-decoration: none;
	background: #1A74A8;
	margin: -10px 0 0 -1px;
	padding-top: 9px;
	position: relative;
	z-index: 1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a74a8), to(#1a648f)); /* Safari 4-5, Chrome 1-9 */
 	background: -webkit-linear-gradient(top, #1a74a8, #1a648f); /* Safari 5.1, Chrome 10+ */
 	background: -moz-linear-gradient(top, #1a74a8, #1a648f); /* Firefox 3.6 */
  	background: -ms-linear-gradient(top, #1a74a8, #1a648f); /* IE 10 */
  	background: -o-linear-gradient(top, #1a74a8, #1a648f); /* Opera 11.10+ */
}

/* CONTENT POST
===========================================================*/
.ESRContentItem {
	border-bottom: 1px dotted #bcbcbc;
	padding: 15px 10px 12px;
}
.ESRDetail .ESRContentItem {
	border-bottom: 0;
}
.ESRDetail .contentMedia img {
	display: block;
	margin-bottom: 5px;
}
.contentStats {
	display: inline;
	float: left;
	width: 70px;
/* 	height: 145px; */
}
.contentStats ul {
	display: block;
	float: left;
	margin-top: 2px;
}
.contentStats a {
	clear: both;
	margin-bottom: 3px;	
}
li.stat-container, .stat-container {
	height: 20px; 	
}
/* .avatar {
	clip: rect(5px, 5px, 5px, 5px);
} */
.score, .commentsNum, .views {
	float: left;
	line-height: 20px;
	font-size: 13px;
}
.stat-container i {
	margin-right: 1px;
}
.content {
	display: block;
	margin: 0 0 0 70px;
	min-height: 60px;
}
.contentRow {
	display: block;
	position: relative;
	line-height: 18px;
}
.contentRow img{
    max-width: 550px;
}
.title {
	display: inline;
	color: #1a74a8;	
}
.edit, .more {
	margin-left: 5px;
}
.edit a, .reply a, .reply-message a {
	display: inline;
}
.contentInfo {
	display: block;
	height: 20px;
}
.contentInfo span {
	/*float: left;*/
	padding-right: 2px;
}
.contentInfo .stat-container {
	margin-left: 2px;
    float:right;
}
.date {
	color: #666;
}

.ESRList .date { margin-left: 6px;}

.contentBody {
/* 	margin-top: 20px; */
}
.contentMedia {
	display: block;
	margin: 10px 0;
}
/* .content-comments-action {
	height: 20px;
	margin-top: 20px;
}
.content-comments-action ul.contentAction {
	margin-top: 0;
} */
.contentActionWrapper {
	float: right;
	/* margin-top: 10px; */
}
.contentMoreWrapper {
	float: left;
	margin-top: 10px;
}

.imageThumb {
	float: left;
	display: inline;	
	width: auto;
	height: 120px;
}
ul.contentAction {
	display: block;
	height: 20px;
	padding: 0;
	margin-top: 5px;
}
ul.contentAction li {
	float: left;
	display: block;
	width: auto;
	padding: 0 5px;	
	border-right: 1px solid #bcbcbc;
}
ul.contentAction li a {
	display: block;
	width: auto;
	color: #666;	
	text-decoration: none;
}
ul.contentAction li a:hover {
	color: #1a74a8;
	text-decoration: underline;
}
ul.contentAction li:first-child {  
	padding-left: 0px;
}
ul.contentAction li:last-child {
	border-right: 0;
	padding-right: 0px;
}
ul.contentAction li a img {
	vertical-align: middle;
	text-decoration: none;
	padding-bottom: 2px;
}
ul.contentAction li a span.contentActionText {
	margin-top: 2px;
}
ul.contentAction li a:hover span.contentActionText {
	text-decoration: underline;
}
ul.contentAction li a span.contentActionText span {
	font-size: 17px;
	line-height: 15px;	
}
.comments-actions-wrapper {
	height: 20px; 
	padding-top: 20px;
}
.content-details-label {
	display: inline;
	margin-right: 1px;
	font-size: 13px;
}
.content-details {
	margin-right: 5px;
	font-size: 14px;
	line-height: 15px;
}
.reuse.on-detailMedia {
	position: relative;
	display: inline-block;
	top: 25px;
	left: 10px;
	z-index: 100000;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.4);
	filter: alpha(opacity = 40);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0 5px;
}

/*	COMMENTS (NOTE: Auto-Expanding $ needs to be applied to <textarea> elements globally)
============================================================================*/
.commentsWrapper {
	display: block;
	margin-left: 70px;
}
.commentsWrapper .more {
	margin-left: 0;
}
.ESRList .commentsWrapper, .ESRList .commentsWrapper h5 {
	display: inline;
	margin-left: 0;
}
.ESRDetail .commentsWrapper {
	margin-top: 10px;
}
.commentBoxWrapper {
	display: block;
	margin-top: 10px;
	padding: 10px;
	background-color: #EEE;
}
.commentBoxWrapperTop {
	display: block;
	margin: 10px 0;
	padding: 10px;
	background-color: #EEE;
}
.commentBox {
	height: 30px;
}
.commentBox .button {
	position: relative;
	top: 3px;
}
.commentsWrapper .commentBox .button {
	float: right;
	margin-top: 0;
}
.commentField {
	min-height: 20px;
	height: 20px;
	width: 89%;
	padding: 5px 0 0 5px;
	resize: none;
	border: 1px solid #bcbcbc
}
.commentAvatar {
	float: left;
}
.comment {
	margin: 15px 0;
	background: none;
}
.commentBody {
	display: block;
	margin: 0 0 0 50px;
}
.reply, .replyStory a, .reply-message a {
	display: block;
	float: right;
}
.replyStory {
	width: 100%;
	margin-bottom: 10px;
	float: right;
}
.original-comment {
	display: inline-block;
} 
.comment1 {
	margin-left: 0;
}
.comment2 {
	margin-left: 10px;
}
.comment3 {
	margin-left: 20px;
}
.comment4 {
	margin-left: 30px;
}
.comment5 {
	margin-left: 40px;
}
.comment6 {
	margin-left: 50px;
}

/* FOLLOWERS/FOLLOWING/GROUPS/MESSAGES
============================================ */
.follow-user .contentRow, .group .contentRow, .message .contentRow {
	margin-left: 60px;
}
.follow-user.ESRContentItem {
	border-bottom: 1px solid #FC5427;
	padding-top: 8px;
	padding-bottom: 5px;
}
.group.ESRContentItem {
	border-bottom: 1px solid #1A74A8;
}
.follow-user .username, .group .group-name, .message .username {
	display: inline;
}
.follow-user a.button, .group a.button {
	float: right;
	margin-top: -2px;
}
.follow-user .aboutMe, .group .aboutMe {
	color: black;
}
.group .contentActionText {
	float: right;
	margin-top: 5px;
}
.group ul.contentAction { 
	display: inline-block;
}
.message {
	padding: 10px;
}
.message .subject {
	display: inline-block;
	font-size: 18px;
	margin-bottom: 5px;
}
.message h6, .message .author {
	display: inline;
}
.message-stream-header {
	display: block;
	width: 100%;
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 2px solid #1a74a8;
	-webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(#1A74A8)) 1 100%;
	border-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #1A74A8 ) 1 100%;
	-o-border-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), #1A74A8) 1 100%;
	-moz-border-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #1A74A8) 1 100% !important;
}
.message-stream-header .contentRow {
	margin: 5px 0 0 0;
}
.message .commentField {
	width: 84%;
}
.message-list.unread, .unread {
	background-color: rgba(0, 56, 70, 0.1);
	filter: alpha(opacity = 10 );
/* 	border-right: 2px solid #1a74a8;
	border-left: 2px solid #1a74a8;
	-webkit-border-radius: 5px; */
}

/* RIGHT COLUMN
===========================================================*/
#rightColumn {
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	min-height: 400px;
	height: auto;
	/* border: 1px solid #bcbcbc; */
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
/* Status
===========================================================*/
.statusWrapper {
	display: block;
	padding: 5px;
	background-color: #E1E1E1;
	height: 95px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
.statusBox {
	display: block;
	min-height: 58px;
	height: 58px;
	margin: 5px 1px;
}
.statusField {
	min-height: 50px;
	height: 20px;
	width: 98%;
	padding: 5px 0 0 5px;
	resize: none;
	border: none;
	background-color: #efefef;
	font-size: 18px;
}
.statusWrapper .button {
	float: right;
}
.statusLocation {
	float: left;
	margin-right: 10px;
}
.shortenLinks {
	float: left;
}

/* Right Column Navigation
===========================================================*/
#standardNav {
	margin-top: 10px;
}
.rightColumn ul.tabs {
	margin-bottom: 5px;
}

/* RIGHT COLUMN CONTENT
===========================================================*/
.rightColumnContent {
	min-height: 400px;
	max-height: 550px;
	overflow: auto;
}
.rightContentItem, .searchItem {
	display: block;
	padding: 10px 0 5px 0;
	margin: 0 5px;
 	border-bottom: 1px solid #1A74A8;
    -webkit-border-image: 
    	-webkit-gradient(linear, 0 0, 100% 0, from(#1A74A8), to(rgba(0, 0, 0, 0))) 1 100%;
    border-image: 
    	-webkit-linear-gradient(left, #1A74A8, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
    	     -o-linear-gradient(left, #1A74A8, rgba(0, 0, 0, 0)) 1 100%; 
   -moz-border-image:
    	   -moz-linear-gradient(left, #1A74A8, rgba(0, 0, 0, 0)) 1 100% !important;    
}

img.userAvatar.related {
	width: 40px;
	height: 40px;
}
.related {
	min-height: 42px;
}
/* .contentThumb {
	float: left;
	display: block;
	width: 60px;
	height: 60px;
	margin-left: 5px;
} */
.rightContentItem .contentInfo {
	margin-top: 4px;
}
.rightContentItem .contentRow {
	margin-bottom: 5px;
}
.rightContentItem .icon-reuse { margin-right: 0px; }
.contentEmbed .icon-reuse { margin-right: 5px; }

.rightContentItem .delete-content {
	position: relative;
	z-index: 100;
}
.delete-content a.delete {
	float: right;
	width: 20px;
	height: 20px;
}
#deleteDialog .cancel-dialog.delete {
	width: 145px;
}
.confirmDeleteForm {
	padding-bottom: 10px;
}

/* RIGHT COLUMN SEARCH RESULTS
===========================================================*/
.searchItem .content {
	margin-left: 5px;
}
.searchContentBody {
	margin: 5px 5px 0 0;
}
#searchContentAction.contentActionWrapper, #myGarageContentAction.contentActionWrapper {
	display: block;
	clear: both;
}
.searchResult .mediaThumb {	
	display: inline;
	float: left;
	width: 140px;
	height: 100px;
	padding: 5px 10px 5px 0;
}

#search {
	position: relative;
	top: 0px;
}

/* MY GARAGE
=================================*/
.myGarage {
	min-height: 42px;
}
.myGarage .contentMedia, .gallery .contentMedia {
	display: block;
	/* float: left; */
	position: relative;
	overflow: hidden;
	margin: 0px;
}
.myGarage .contentMedia {
	display: inline;
	float: left;
	max-width: 130px;
	height: 100%;
	margin-right: 5px;
}
.myGarage .contentBody {
	display: inline;
}

/* Right Column Gallery
=================================*/
.gallery {
	display: inline;
}
li.mediaThumb {
	display: inline;
	float: left;
	position: relative;
	width: 140px;
	height: 100px;
	padding: 10px 5px;
}
li.mediaThumb img.mediaThumb {
	position: relative;
	top: 0;
	left:0;
	z-index: 1;
}
li.mediaThumb img.icon {
	position: relative;
	top: -98px;
	left: 2px;
}
a:hover span.mediaTitle {
	background-color: black;
	background-color: rgba(0, 0, 0, 1);
	filter: alpha(opacity = 100);
	width: expression( document.body.clientWidth > 99 ? "100px" : "auto" );
	max-height: 100%;
}
span.mediaTitleText {
	display: block;
	color: white;
	font-size: 21px;
	line-height: 18px;
}
.contentMedia a:hover { color: white; }


/* SIGN UP PAGE 
=========================================*/
#signUpBg {
	position: fixed;
	top:-50%;
	left: -50%;
	width:200%;
	height:200%;
}
#signUpBg img {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
	padding-top: 60px;
	padding-left: 80px;
}
.signup.container { 
	position: relative;
	z-index: 1;
	margin: 0 -1px 0 0;
}
.signup #container { 
	position: relative;
	background-color: transparent;	
	height: 715px;
}
.signup #logo {
	position: relative;
	z-index: 1;
	float: left;
	width: 250px;
	height: 90px;
	margin: 0 0 40px 60px;
}
.signup-links {
	display: block;
	float: right;
	height: 50px;
	width: 122px;
	background-color: black;  /* for IE */
	background-color: rgba(0, 0, 0, 0.4);
	filter: alpha(opactiy=40);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 7px 18px 0 0;
}
.signup-links .connectLinks {
	margin-top: 2px;
}
/* .signup #headerLinks {
	
} */
.mainPanel.signup { 
	position: relative; 
	top: -450px; 
	left: 170px;
	width: 940px;
	height: 630px;
	margin: 0 0 0 49px;
}
.signup #createAccount  {
	display: inline-block;
	position: relative;
	z-index: 2;
	width: 430px;
	height: 520px;
}
.stepCreateAccount {
	background: #1a74a8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px 0;
	color: white;
	height:	auto;
	min-height: 500px;
}
.join {
	width: 300px;
	height: 52px;
	background: url(../imgs/sys/signupESR.png) no-repeat;
	padding-top: 10px;
	display: block;
	margin: 10px auto 0;
}
#createAccount .edit-profile-label {
	font-size: 16px;
	width: 140px;
}
#createAccount .agreement-statement {
	width: 259px; /*202px;*/
	float: right;
	display: inline-block;
	margin-top: 5px;
}
#createAccount input {
	background-color: #DBEBF4;
}
#createAccount input:focus {
	background-color: white;
}
#createAccount input[type="checkbox"] {
	display: inline-block;
	float: left;
	margin: 9px 6px 0 0;
}

#createAccount input.error {
    background-color: #FC5427;
}

/* @tODO - seems not to be used at all */
#frmJoin .captcha {
	margin-left: -155px;
	margin-top: 30px;
}


#signup .captcha {
    margin-left: 55px;
    margin-bottom: 24px;
}
#signupSuccess {
    padding: 20px;

}
#signupSuccess p {
	color: white;
	padding: 20px;
	font-size: 18px;
	line-height: 23px;
	
}
.signup label.error {
	background-image:none;
	color: #FC5427;
	font-size:1.0em;
	padding: 0 0 0 0px;
	margin:1px 0 10px 150px;
	line-height: 12px;
	height: 6px;
	display: inline-block;
	float: left;
	background-color: #1a74a8;
}
.welcome-panel {
	display: inline-block;
	position: relative;
	top: 0;
	left: 40px;
	float: left;
	z-index: 1;
	width: 263px;
	height: 198px;
	background-color: black;  /*for IE*/
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 15px 50px 15px 15px;
}
.welcome-panel p{
	color: white;
	font-size: 16px;
	line-height: 22px;	
}	
.signup #login-signup-page { 
	position: relative;
	top: -175px;
	left: 115px;
	display: inline-block;
	width: 200px;
	height: 150px;
	padding: 12px;
}
.signup .login-panel {
	background-color: black;  /*for IE*/
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-top: 10px;
	color: white;
	padding-top: 7px;
}
.signup .loginForm {
	padding: 0 10px 0 20px;
}
.login-input h3.title { 
	display: block;
	height: 25px;
	padding: 0 0 10px 5px;
	font-size: 32px; 
}
.signup .loginForm input.checkbox {
	padding-right: 5px;
	margin: 6px 5px 8px 0;
}
#login-signup-page input#username, #login-signup-page input#pswd {
	width: 95%;
	float: left;
}
#login-signup-page .login-input button{
	float: right;
	margin: 10px 0 0 60px;
}
.sidePanel { overflow: hidden; }

.tooltip {
    display:none;
    background:transparent url(/imgs/sys/tooltip/white_arrow.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#003846;
    opacity:0.8;
}

div.captcha {
	float: left;	
}

/* CREATE CONTENT
===========================================================*/
.create .notEdited {
	color: #D1D3D4;
}

.create #owner {
    float:left;
    clear: left;
}

.create .editfield {
    border: 1px solid #003846;
	width: 98%;
	height: 26px;
    padding: 3px;
    padding-left: 6px;
    margin-bottom: 18px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.create .editfield input[type="radio"] {
    border: none;
}
.create .editfield.title {
	font-size: 1.4em;
	line-height: 1.8em;
}
.create #category.editfield {
	display: block;
	width: 30%;
	min-height: 20px;
	margin-bottom: 0;
}
.create .editfield.calendar, .create .editfield.marque, .create .editfield.model
, .create .editfield.color, .create .editfield.year, .create .editfield.purchased, .create .editfield.sold {
	width: 45%;
	font-size: 13px;
	text-transform: capitalize;
}

.create .editfield.calendar.start, .create .editfield.marque
, .create .editfield.color, .create .editfield.purchased
{float: left;}
.create .editfield.model, .create .editfield.year
, .create .editfield.sold,.create .editfield.calendar.end {float: right;}

#title {
	font-family: Arial, Helvetica, sans-serif;
}
.create .banner {
	color:/*  #003846 */ white;
	border: 0;
	margin: -75px 0 10px 0;
	font-size: 32px;
	line-height: 26px;
}
.create-action-wrapper {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 30px;
}
.create-action {
	margin: 0 auto;
	width: 140px;	
}
.cancel-post {
	display: inline-block;
	font-size: 18px;
	margin: 5px 0 0 10px;
}
#wysiwyg-setLocation.wysiwyg input.enteraddress {
    width: 176px;
}

#wysiwyg-setLocation.wysiwyg .address.button {
    width: 36px;
}
.rating {
	display: block;
	height: 20px;
	margin-bottom: 10px;
    margin-top:16px;
}
#starscap_rating {
	font-size: 18px;
	margin-left: 5px;
}
.rating .more {
	display: inline-block;
	float: left;
	margin-right: 5px;
	font-size: 20px;
	color: #222;
}
#insert.button { 
	margin: 0 0 0 5px;
	font-size: 16px;	
}
#lng, #lat, #location { float: left; }

#embed {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 10px 0;
	border-top: 1px solid #D1D3D4;
	border-bottom: 1px solid #D1D3D4;
}
.embedded-content-wrapper {
	display: block;
	height: 100px;
	padding: 10px;
}
#embed .mediaThumb {
	display: inline;
	float: left;
	margin-right: 5px;
}
#embed .mediaThumb img {
	height: 100px;
	width: auto;
}
#embed .contentBody {
	margin-top: 5px;
}

.checkbox {
	display: inline-block;
	padding-right: 5px;
	margin: 6px 5px 8px 0;
}

/*#imagePopup*/ table td.title label {
	display: block;
}

/*#imagePopup*/ table td.start {
	display: block;
	padding: 0px;
	margin: 0px;
}

/*#imagePopup*/ table .btnControl {
	display: inline-block;
}

/*#imagePopup*/ table .btnControl button {
	padding: 6px 15px 6px 32px;
	display: inline-block;
}

/*#imagePopup*/ table .title {
	font-size: 16px;
	text-transform: uppercase;
}

#imagePopup div[role="progressbar"] {
	top: 4px;
	left: 3px;
	height: 8px;
	width: 178px;
	position: relative;
}

#create div[role="progressbar"] {
	top: 4px;
	left: 3px;
	height: 8px;
	width: 178px;
	position: relative;
}

#create input[type="text"] {
	min-width: 200px;
}

#bikeDetails {
	min-height: 130px;
}

/* Styling Popup
===========================================================*/

#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}

#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:600px;
width:800px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding-top: 35px;
padding:12px;
font-size:13px;
}

#popupContact h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}

#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}

#wysiwyg-setLocation.wysiwyg div.actionLink {
    width: 213px;
    padding: 2px 0;
}

#wysiwyg-setLocation.wysiwyg  span.instruction {
    font-size: 1.1em;
}

#wysiwyg-setLocation.wysiwyg  span.thisLocation, #wysiwyg-setLocation.wysiwyg  span.thisLocationLabel {
    font-size: 1.3em;
    margin: 0 auto;
    width: 213px;
}


#statusField_charCount, .total-recipients {
    font-size: 0.9em;
    padding-left: 10px;
    color: #1A74A8;
}

#statusField.error {
    border: 1px solid red;
}

#statusField_charCount.error {
    color: red;
}

.create .editfield.error {
    color: red;
    border: 1px solid red;
}

.create label.error {
    color: red;
    margin-left: 24px;
    margin-bottom: 12px;
}

img.autocompleteThumb {
    max-width: 40px;
    max-height: 40px;
}
div.videoSpacer {
    margin-bottom: 24px;
}

.quickInputDescription { height: 80px;}

/* Popup dialog options */

/* location options */

/* .ui-dialog.ui-widget-content a {
    color:#1A74A8;
} */
.ui-dialog .map {
    border: 1px solid #003846;
    margin-bottom: 12px;
    height: 300px;
    width: 416px;

}
.ui-dialog .actionLink {
    margin-left: 10px;
    margin-bottom: 8px;
    color:#1A74A8;
    cursor: pointer;
}
/* .ui-dialog div.buttons {
    margin-top: 12px;
} */
/* .ui-dialog .button span {
    font-size: 12px;
    margin-left: 140px;
} */
.ui-dialog input[type="reset"].cancel-dialog {
    width: 65px;
    font-size: 12px;
    padding: 3px 10px;
}
.ui-dialog div.addressActions {
margin-top: 15px;
}

.ui-dialog input[type="text"] {
    width: 240px;
    font-size: 0.8em;
    margin-left: 12px;
    margin-right: 12px;
}

.ui-dialog .address.button {
	font-size: 20px;
}

/* Popup dialog options end */

div.instructions p {
    display: block;
    margin-bottom: 12px;
}


.create ul.toolbar li {
    list-style:none;
    margin: 2px 2px 4px;
    moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    clear:none;
    padding: 0;
    border: none;
    background-color: none;
    text-indent: -5000px;
    opacity: 0.8;
    filter: alpha(opacity=8);
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    float:right;
    bottom: -28px;
    position:relative;
    right: 8px;
}

.create ul.toolbar li.createLink {
    background: url('/imgs/sys/hyperlink_blue22.png') no-repeat;
}


.create ul.toolbar li.videoManager {
	background: url('/imgs/sys/iconVideo.gif') no-repeat 0px 2px;
    width:32px;
}

.create ul.toolbar li.imageManager {
    background: url('/imgs/sys/iconImage.gif') no-repeat 0px 2px;
    width:32px;
}

.create ul.toolbar li.generalLocation {
    background: url('/imgs/sys/iconLocation.gif') no-repeat;
}

span.setLocation {
      display: inline-block;
      float: right;
      position: relative;
      right: 192px;
      background: url('/imgs/sys/iconLocation.gif') no-repeat;
      height: 20px;
      width: 20px;
  }
.generalLocation .selected, .setLocation .selected {
    background: url('/imgs/sys/iconLocationActive.gif') no-repeat;
}

#createRouteMap { padding: 0;}

.mapwrapper .routemap {
    height: 598px;
    width: 630px;
}

.ESRDetail .routemap {
    height: 400px;
    width: 538px;
    border: 1px solid #003846;
}

.mapwrapper {
    margin: 0 auto;
    width: 900px;
    height: 650px;
}

.mapwrapper .leftColumn {
    width: 630px;
    float: left;
}

.mapwrapper .directions {
    background-color: #efefef;
    height: 650px;
    overflow: scroll;
}

.mapwrapper .directionsPanel {
    overflow-y: scroll;
}

.mapwrapper .controls {
    height: 49px;
    padding-top: 10px;
    border-top: 1px solid #003846;
}
.mapwrapper .controls button {
	margin: 0 10px;
}
.mapwrapper .rightColumn {
    width: 269px;
    float:right;
    border-left: 1px solid #003846;
}
.directions span { 
	display: block;
	font-size: 20px;
	margin-top: 5px;
	padding-left: 5px;
}
.directions #totalDistance, .directions #totalDuration {
	padding-left: 5px;
}
#staticmap {
    margin-bottom: 18px;
}

#staticMapImg, #staticMapLegend {
    width: 635px;
    height: 300px;
    overflow: hidden;
    margin-bottom: -40px;
}

#staticMapImg {
    z-index: -1;

}

#staticMapLegend {
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    top: -150px;
    position:relative;
    color: #fff;
    background: #444;
    opacity: 0.6;
    filter:alpha(opacity=60);
    height: 50px;
    font-size:1.5em;

}

.addressOverlay {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid black;
}

.files td {
	vertical-align: middle;
	padding-right: 8px;
}
td.start, td.cancel {
	display: inline-block;
	margin-top: 13px; 
}
td.start .button {
	margin-top: 0;
}
td.cancel button {
	background: transparent;
}
tr.template-upload {
	height: 60px;
	margin-top: 10px
}


/* INVITE FRIENDS FORM 
=======================================*/
.invite-friends-wrapper {
	margin-left: 50px;
}
textarea.edit-profile-field {
	height: 200px;
}



.ui-widget div#storyPreview {
    font-family: helvetica, arial;
    font-size: 0.9em;
    text-transform: none;
}




.routeMapPreview { max-width: 540px;}
.routeDistance, .routeDuration { font-size: 1.1em; margin-bottom: 12px;}
.routeDuration { padding-left: 6px;}




/* routemap directions
.ESRDetail #directions {
    width: 538px;
    border: 1px solid #003846;
}

#directions .directionPoint {
    width: 520px;
    padding-left: 12px;
}

#directions .directionHeader img {
    float: left;
}
#directions .directionStepName {
    padding-left: 30px;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

#directions .directionStep {
    margin-left: 20px;
    width: 500px;
    border-bottom: 1px dotted #808080;
}

#directions .directionStep span.stepInstruction {
    float: left;
    width: 460px;
}

#directions .directionStep span.stepDuration {
    float: right;
    left: 460px;
}

#directions .directionStep span.stepDistance {
    float: right;
    left: 480px;
}
*/

.wysiwyg-dialog-content form.wysiwyg .form-row label, .wysiwyg-dialog form.wysiwyg .form-row .form-row-key {
    display: block;
    float: left;
    width: 35%;
    text-align: right;
    padding: 4px 5px;
}

form#wysiwyg-addImage, form#wysiwyg-addImage table{
    width: 100%;
}